<div class="m-2">
  <div
    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex items-center justify-between mb-4">
      <h5
        class="text-xl font-bold leading-none text-gray-900 dark:text-white"
      >Mi carrito</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {{#each items}}
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img
                  class="w-8 h-8 rounded-full"
                  src="{{this.thumbnail}}"
                  alt="Neil image"
                />
              </div>
              <div class="flex-1 min-w-0">
                <p
                  class="text-sm font-medium text-gray-900 truncate dark:text-white"
                >
                  {{this.title}}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  Código: {{this.code}}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  Cantidad: {{this.quantity}}
                </p>
              </div>
              <div
                class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
              >
                ${{this.total}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
      <button type="button" id="finishPurchase" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Finish purchase</button>
    </div>
  </div>
</div>

<script src="/content/js/cart.js"></script>
